<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
    <div class="container" style="text-align: center;"><h1>HERO HSR</h1></div>
        <div class="d-flex gap-3" style="padding:30px ;justify-content: end">
            <a href="/addhero" class="btn btn-primary">Add hero</a>
            <a href="/addtype" class="btn btn-primary">Add type</a>
        </div>
    <div class="container mt-5 d-flex gap-5 flex-wrap justify-content-center">
        {{#each data}}
        <div class="card" style="width: 18rem;">
            <img src="/uploads/{{this.photo}}" class="card-img-top" alt="..." style="max-height: 286px; max-width: 286px; object-fit:cover">
            <div class="card-body">
                <h5 class="card-title">{{this.name}}</h5>
                <p class="card-text">Path: {{this.name_type}}</p>
                    <div class="d-flex" style="justify-content: space-around;">
                <a href="/detailheroes/{{this.id}}" class="btn btn-primary">Detail</a>
                <form action="/delete/{{this.id}}" method="post">
                <button class="btn btn-primary">
                    Delete
                </button></form>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>